@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Define the keyframes */
@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out-to-top {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* Create utility classes for each animation */
.animate-slide-in-from-bottom {
  animation: slide-in-from-bottom 0.5s ease-out;
}

.animate-slide-out-to-top {
  animation: slide-out-to-top 0.5s ease-in;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in forwards;
}

.fade-out {
  animation: fade-out 0.5s ease-out forwards;
}

@keyframes dot-activate {
  0% {
    transform: scale(0.6);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.dot-animate {
  animation: dot-activate 0.3s ease-out;
}

.clip-right-curve {
  clip-path: ellipse(90% 100% at 100% 50%);
}